    .contenedor {
        width: 900px;
        margin: 10px auto;
        color: white;
    }

    .dibujo {
        margin: 10px auto;
        width: 900px;
        background-color: grey;
        height: 300px;
        font-size: 18px;
        padding: 10px;
    }

    input {
        margin: 20px auto;
        padding: 10px;
        width: 200px;
        font-size: 18px;
        background-color: white;
        color: blue;
        padding: 5px;
        border-radius: 10px;
    }

    button {
        margin: 0px auto;
        width: 220px;
        font-size: 18px;
        background-color: blue;
        color: white;
        padding: 10px;
        border-radius: 10px;
    }

    .tabla {
        display: table;
        margin: 10px auto;
    }

    .tabla>div {
        height: 20px;
        display: table-row;
    }

    .celdas {
        display: table-cell;
        width: 150px;
        height: 90px;
        border: 2px solid black;
    }