@import url(reset.css);

html,
body{
	width: 100%;
	height: 100%;
}

div{
    border: 10px solid red;
    border-radius: 20px;
    background-color: whitesmoke;
    width: 120px;
    padding: 10px;
    font-size: 25px;
    color: greenyellow;
    position: absolute;
    
}