body,html {
	width: 100%;
	height: 100%;
	background-color: black;
}
#wrapper{
	width: 990px;
	background-color: grey;
	height: 600px;
	margin: 10px auto;
}
.foto {
	width: 900px;
	height: 500px;
	margin: 10px auto;
	background-color: blue;
}
.izquierda, .derecha {
	width: 420px;
	height: 450px;
	float: left;
	margin: 10px;
	background: white;
}
.tiempo {
	width: 900px;
	height: 60px;
	margin: 10px auto;
	background-color: yellow;

}
div{
	width:900px;
	height:60px;
	background-color:#ccc;
	border:1px solid #000;
	margin:10px auto;
	background-image:url(../imgs/th2.JPG);
	background-size:100% 100%;
}
div>#barra{
	border:none;
	margin:0px;
	background-color:#0F6;
	background-image:none;
}