html, body {
    background-image: url(img/resize.jpg);
    margin:0px;
    padding:5px;
    padding-top:30px;
    overflow-x:hidden; /* Evita que genere scroll lateral. */
}
h1 {
    /* Posición y dimensiones. */
    z-index: 1;
    top:0px;
    left:0px;
    position:fixed; /* Se queda fijo aunque se haga scroll. */
    width:100%;
    height:60px;
    margin:0px auto; /* No va a tener márgenes. */
    padding:5px;
    padding-top:14px;
    -webkit-box-sizing:border-box; /* Para ajustar el contenido respecto al padre. Explorer */
    -moz-box-sizing:border-box; /* Lo anterior para Firefox. */
    box-sizing:border-box;
    box-shadow:0px 1px 4px rgba(0, 0, 0, 0.25); /* Pone una sombra. Combina color con opacidad */
    /* Aspecto visual y contenido. */
    background-color: transparent;
    color:#FFFFFF;
    text-align:center;
    font-family:'Roboto-Regular';
    font-size:46px;
    font-weight:normal; /* Evita que aparezca en negrita. */
}
#tablero_juego {
    margin:0 auto;
}
#tablero_juego1 {
    margin:0 auto;
    width: 150px;
}

.celda_vacia{
    background: url(../img/gris.png);
    width: 64px;
    height: 64px;
    margin: 5px;
    cursor: pointer;
}

.celda_premiada{
    background: url(../img/verde.png);
    width: 64px;
    height: 64px;
    margin: 5px;
    cursor: default;
}
.celda_error{
    background: url(../img/rojo.png);
    width: 64px;
    height: 64px;
    margin: 5px;
    cursor: default;
}

table td:hover{
    opacity: 0.8;
}
#button{
    background-color: #990033;
    color: white;
    text-align: center;
    font-size: 25px;
    width: 180px;
    height: 60px;
    -webkit-box-sizing:border-box; /* Para ajustar el contenido respecto al padre. Explorer */
    -moz-box-sizing:border-box; /* Lo anterior para Firefox. */
    box-sizing:border-box;
    -webkit-border-bottom-left-radius:0.25em;
    -webkit-border-bottom-right-radius:0.25em;
    -webkit-border-top-left-radius:0.25em;
    -webkit-border-top-right-radius:0.25em;

    -moz-border-bottom-left-radius:0.25em;
    -moz-border-bottom-right-radius:0.25em;
    -moz-border-top-left-radius:0.25em;
    -moz-border-top-right-radius:0.25em;

    border-bottom-left-radius:0.25em;
    border-bottom-right-radius:0.25em;
    border-top-left-radius:0.25em;
    border-top-right-radius:0.25em;

    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;

}