.dados {
	width: 350px;
	height: 70px;
	margin: 5px auto;
	border: 5px solid black; 
}
.juego {
	float: left;
	margin: 5px;
	width: 60px;
	height: 60px;
}

.button {

	width: 100px;
	margin: 10px 10px;

}

input[type="text"] {

	width: 20px;
	margin: 5px;
	text-align: center;
	height: 35px;
	border: 3px solid black;
	font-size: 20px;
}


#mensaje {
	width: 350px;
	height: 30px;
	margin: 10px auto;
	border: 5px solid black;
	background-color: red;
	color: white;
	font-size: 25px;
	font-weight: bold; 
	text-align: center;
}
.boton {
	width: 350px;
	height: 30px;
	margin: 20px auto;
	background-color: transparent;
	color: grey;
	font-size: 25px;
	font-weight: bold; 
	text-align: center;
}
