body {
	background: black;
	color: #000;
	font-family: helvetica, arial;
	font-size: 15px;
}
#juego {
	background-color: #efefef;
	width: 850px;
	border: 15px solid #444;
	-webkit-border-radius: 15px/20px;
	-moz-border-radius :  15px/20px;
	height: 500px;
	margin: 0px auto;
	margin-top: 20px;
	font-family: helvetica, arial;
	font-size: 15px;
}

#datos {
	width: 150px;
	border-right: 1px solid #444;
	float: left;
	height: 310px;
	padding: 20px;
	margin-top: 10px;
	font-size: 13px;
}

#resultado {
	width: 550px;
	float: left;
	padding: 20px;
	margin-top: 20px;
	margin-left: 50px;
	font-size: 13px;
	font-family: helvetica, arial;
}

#resultado span {
	text-transform: uppercase;
}

#resultado table td{
	font-family: helvetica;
	font-size: 13px;
	padding:0px 10px;
}

#dibujo {
	margin: auto;
	margin-top: -20px;
	margin-left: 80px;
	width: 350px;
	height: 200px;
	border: 0px solid #444;
	float: left;
}

#palo-vertical {
	position: absolute;
	border-right: 20px solid #373;
	margin: auto;
	margin-top: 10px;
	margin-left: 10px;
	height: 200px;
	width: 300px;
	display: none;
}


#palo-superior {
	position: absolute;
	border-top:10px solid #373; 
	margin: auto;
	margin-top: 10px;
	margin-left: 180px;
	height: 200px;
	width: 150px;
	display: none;	
}

#suelo {
	position: absolute;
	border-bottom: 2px solid #373;
	margin: auto;
	margin-top: 10px;
	margin-left: 10px;
	height: 200px;
	width: 300px;
	display: none;	
}

#mensaje {
	font-size: 18px;
	position: absolute;
	margin-top: 230px;
	margin-left: 10px;
	height: 30px;
	width: 300px;
	display: none;

}

#cabeza {
	position: absolute;
	margin: auto;
	margin-top: 20px;
	margin-left: 200px;
	width: 30px;
	background-color: #000;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-color: 1px solid #333;
	height: 30px;
	display: none;
}

#cuerpo {
	position: absolute;
	margin: auto;
	margin-top: 50px;
	margin-left: 195px;
	width: 40px;
	background-color: #000;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-color: 1px solid #333;
	height: 50px;
	display: none;
}

#piernas {
	position: absolute;
	width: 5px;
	margin: auto;
	margin-top: 93px;
	margin-left: 198px;
	border-left: 15px solid #000;
	border-right: 15px solid #000;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	height: 30px;
	display: none;
}

#brazos {
	position: absolute;
	margin: auto;
	margin-top: 55px;
	margin-left: 165px;
	width: 100px;
	border-top: 7px solid #000;
	border-bottom: 7px solid #000;
	height: 0px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	display: none;
}

#cuerda {
	position: absolute;
	margin: auto;
	margin-top: 47px;
	margin-left: 190px;
	width: 120px;
	border-top: 2px dashed #e55;
	border-bottom: 2px dotted #e55;
	height: 0px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	display: none;
}

#titulo {
	padding: 10px 20px;
	text-align: center;
}

.tiempo{
	position: relative;
	margin: auto;
	top: 260px;
	left: -50px;
	width:600px;
	height:20px;
	background-color:#ccc;
	border:1px solid #000;
	border-radius: 10px;
	margin:10px auto;
	background-size:100% 100%;
}
#barra{
	position: relative;
	margin: auto;
	top: 260px;
	left: -50px;
	z-index: 10;
	border:none;
	margin:0px;
	background-color:#ff3333;
	background-image:none;
}
