.tragaperras {
	width: 990px;
	height: 300px;
	margin: 10px auto;
	border: 5px solid black; 
}

.juego {
	float: left;
	margin: 10px;
	width: 250px;
	height: 270px;
	border: 5px solid black;
}

input[type="button"] {

	width: 110px;
	margin: 8px 20px;
}

input[type="text"] {

	width: 100px;
	margin: 5px 20px;
	text-align: center;
	height: 40px;
	border: 5px solid black;
	font-size: 40px;
}
input[type="text"]#premio {

	text-align: right;
}

.mensaje {
	width: 990px;
	height: 80px;
	margin: 10px auto;
	border: 5px solid black;
	background-color: red;
	color: white;
	font-size: 70px;
	font-weight: bold; 
	text-align: center;
}
