@charset "utf-8";
*{
	margin: 0px;
	padding: 0px;
}

main{
	display:table;
	border:5px solid black;
	border-spacing: 10px;
	margin:30px auto;
}

main>div{
	display:table-row;
}

main>div>*{
	display:table-cell;
	width:250px;
	height: 250px;
	border:1px solid black;
	background-size: 100% 100%;
}



