@charset "UTF-8";
body {
    background: #eee;
}

.contenedor {
    width: 600px;
    margin: 30px auto;
}

h1{
    font-size: 35px;
    text-shadow: 2px 2px #aaf;
    text-align: center;
    color: #168;
    margin-bottom: 30px;
}
.canvas {
    background: #fff;
    width: 600px;
    height: 400px;
    box-shadow: 0 0 5px gray;
}

.controles {
    width: 600px;
    height: 100px;
    background: #ddd;
    box-shadow: 0 0 5px gray;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.boton {
    border: none;
    background: #168;
    color: white;
    line-height: 2.5em;
    box-shadow: 2px 2px 5px #168;
    border-radius: 4px;
}

.boton:hover {
    box-shadow: 1px 1px 15px 1px gray;
    cursor: pointer;
}

#puntuacion {
    min-width: 20%;
    min-height: 50%;
    color: black;
    font-size: 30px;
    border: 1px solid #168;
    box-shadow: 2px 2px 5px #168;
    display: flex;
    justify-content:center;
    align-items: center;
}
