body,html{
    height:100%;

}

body {
    background-image: url("../img/pgbk.gif");
    background-repeat: repeat-x;
    background-color: #668497;
}

.container {
    width: 750px;
    margin: 10px auto;
    height: 850px;
    background-image: url("../img/contentbg.gif");
    background-repeat: repeat;

}

.web {
    position: relative;
    height: 850px;
}

.imagen {
    background-image: url("../img/key_visual1.jpg");
    height: 335px;
    width: 736px;
    position: relative;
    top: 18px;
    left: 8px;
}

.menu {
    position: relative;
    top: 270px;
    left: -10px;
    width:500px; 
    float: left;
    color: red;
    height: 35px;
    margin-left: 9px;
    background-color: #e0e0d1;
}

.menu li {
    padding:0 10px;
    font-size: 15px;
    list-style: none;
    float: left;
    width: 80px;
    padding: 10px;
    text-align: left;
}


.body  {
    clear: left;
    position: relative;
    top: 0px;
    left: 15px;
    width: 680px;
    padding: 20px;
    color: white;
    text-align: left;
    font-size: 10px;
    height: 400px;

}

.body img {
    width: 90%;
    height: auto;
    position: relative;
    z-index: 12330;
}
.footer {
    clear: left;
    position: relative;
    top: 15px;
    left: 0px;
    width: 600px;
    margin: 10px auto;
    color: white;
    text-align: center;
    font-size: 10px;

}

a {

    display: block;
    /*Con este conseguimos que sea de ancho como el padre*/
    text-decoration: none;
    text-align: center;
    height: 30px;
    /*Truco para alineación vertical para lineas*/
    color: red;
}

a:hover {
    padding-top: 10px;
    position: relative;
    top: -10px;
    left: -10px;
    width: 100px;
    height: 25px;
    background-color: yellow;
    opacity: 0.5;

}

.wally {
    width: 40%;
    height: 20px;
    position: relative;
    top: 0px;
    left: 15px;
    font-size: 12px;
    z-index: 20000;
    color: white;
}