body,html {
	width: 100%;
	height: 100%;
	background-color: black;
}
#wrapper{
	width: 990px;
	background-color: grey;
	height: 580px;
	margin: 10px auto;
}
.foto {
	width: 900px;
	height: 500px;
	margin: 10px auto;
	background-color: transparent;
}

.derecha{
	position: relative;
}
.izquierda, .derecha {
	width: 420px;
	height: 450px;
	float: left;
	margin: 15px;
	background: white;
	background-repeat:no-repeat;
	background-size:100% 100%;
}
.tiempo {
	width: 900px;
	height: 40px;
	margin: 10px auto;
	background-color: none;
	border-radius: 20px 0px;

}
div{
	width:900px;
	height:40px;
	background-color:#ccc;
	border:1px solid #000;
	margin:10px auto;
	background-size:100% 100%;
	border-radius: 20px 0px;

}
div>#barra{
	border:none;
	margin:00px;
	background-color:#ff3333;
	background-image:none;
}
.one,.two,.three,.four,.five {
	display: block;
	width: 50px;
	height: 50px;
	border: 1px solid black;
	position: relative;
	background-size:contain;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: transparent;
}