form {
  width: 100%;
  max-width: 600px;
  text-align: center;
  border: solid 1px #c2c2c2;
  padding-bottom: 10px;
  margin: auto;
  background: #fafafa;
}
.contenedor{
  width: 550px;
  height: 150px;
  background-color: white;
  color: rgba(109,109,124,1);
  margin: 20px 25px;


}
.contenedor.operaciones{

}
.contenedor.resultado{

}
#textopantalla1{
  text-align: left;
  font-size: 25px;
}
#textopantalla2{
  text-align: left;
  font-size: 60px;
}
input[type=button], input[type=submit], input[type=reset] {
    background-color: rgba(109,109,124,1);
    border: none;
    color: white;
    padding: 16px 32px;
    font-size: 35px;
    min-width: 21%;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
  background-color: #333;
}