@charset "utf-8";
body {
  background-color: #F6F6FF;
  font-family: sans-serif;
  padding: 0 20px;
}

h1 {
  margin: 10px;
  font-size: 150%;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 125%;
}

fieldset {
  background-color: #E6E6FF;
  border: #8686FF 3px solid;
  padding: 10px 20px 20px;
}

legend {
  background-color: white;
  border: #8686FF 3px solid;
  font-size: 120%;
  padding: 0 10px;
}

input {
  font-size: 100%;
}

.aviso {
  color: red;
}

.grande {
  font-size: 200%;
}

.derecha {
  text-align: right;
}

table.conborde, table.conborde td, table.conborde th {
  border: black 1px solid;
}

footer {
  border-top: black 1px solid;
  margin-top: 2em;
}

footer cite {
  font-weight: bold;
}
