@charset "utf-8";
* {
    margin: 0px;
    padding: 0px;
}

body {
    background: #444;
    margin: 0;
    font-family: monospace;
}

h1 {
    color: #fff;
    text-align: center;
}


.formulario {
        font-family: "Courier New", Courier, monospace;
        font-size: 12px;
        font-style: italic;
        text-transform: uppercase;
        background-color: #CCCCCC;
        border: thin solid #FFFFFF;
        font-size: 12px;
        padding: 20px;
        width: 600px;
        height: 325px;
        margin: 10px auto;
    }

/*Estilos de la galeria*/

.menu {
    width: 700px;
    margin: 10px auto;
    list-style: none;
    padding: 20px;
    box-sizing: border-box;
}

.menu li {
    width: 100px;
    padding: 5px;
    list-style: none;
    font-size: 15px;
    background-color: white;
    color: grey;
    float: left;
}

.menu a {
    display: block;
    /*Con este conseguimos que sea de ancho como el padre*/
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    background-color: grey;
    color: white;
}

.menu a:hover {

    background-color: blue;
}


/*Estilos del modal*/

.modal {
    display: none;
    margin: opx auto;
}

.modal:target {
    display: block;
    position: fixed;
    background: #444;
    top: 5%;
    left: 15%;
    width: 100%;
    height: 100%;
}

.modal div {
    margin: 0px auto;
    color: #fff;
    font-size: 12px;
    text-align: center;
    margin: 15px 0;
}

.modal h3 {
    color: #fff;
    font-size: 20px;
    text-align: center;
    margin: 15px 0;
}

.texto {
    width: 600px;
    margin: 10px auto;
    top: 10%;
}

.cerrar {
    display: block;
    background: #fff;
    width: 25px;
    height: 25px;
    margin: 15px auto;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    padding: 5px;
    border-radius: 50%;
    line-height: 25px;
}