/* le indicamos que vamos a meter filas*/
.tabla {
	display: block; 
	margin: 70px;
	float: left;
	/*border-spacing solo en tabla para que sea homogéneo*/
	border-spacing: 5px 20px;
	border: thin solid #4db8ff;
}

h1 {
	/* Posición y dimensiones. */
	z-index: 1;
	top:0px;
	left:0px;
	position:fixed; /* Se queda fijo aunque se haga scroll. */
	width:100%;
	height:60px;
	margin:0px auto; /* No va a tener márgenes. */
	padding:5px;
	padding-top:14px;
	-webkit-box-sizing:border-box; /* Para ajustar el contenido respecto al padre. Explorer */
	-moz-box-sizing:border-box; /* Lo anterior para Firefox. */
	box-sizing:border-box;
	box-shadow:0px 1px 4px rgba(0, 0, 0, 0.25); /* Pone una sombra. Combina color con opacidad */
	/* Aspecto visual y contenido. */
	background-color:#4db8ff;
	color:#FFFFFF;
	text-align:center;
	font-size:36px;
	font-weight:normal; /* Evita que aparezca en negrita. */
}
div {
    text-align: center;
    font-size: 20px;
}
.modal {
    margin: 70px 30px;
    float: left;
    width: 550px;
    height: 550px;
    background-color: grey;
    
}
.imagen {
    margin: 70px 30px;
    width: 500px;
    height: 300px;
    float: left;
    border-radius: 10px;
    background-color: white;
    
}
.titulo, .texto, nombre_parada {
    width: 100%;
    height: 30px;
}

.foto {
    width: 60px;
    height: 60px;
    background-image: url('../img/x.png');
    background-size: 100% 100%;
    float: right;
}
