.container {
    width: 700px;
    margin: 20px auto;
}

.contacto {
    float: left;
    font: normal 20px/normal Verdana, Geneva, sans-serif;
    padding: 10px;
    color: #dd4e2a;
    line-height: 20px;
}

.datos {
    float: right;
    font: normal 12px/normal Verdana, Geneva, sans-serif;
    padding: 10px;
    color: #dd4e2a;
    line-height: -20px;
}

.formulario {
    clear: both;
    font: normal 20px/normal Verdana, Geneva, sans-serif;
    padding: 10px;
    color: #dd4e2a;
    position: relative;
}

.formulario label {
    width: 400px;
    height: 50px;
    margin: 10px;
}

.formulario input {
    width: 300px;
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin: 10px;
    padding: 10px 20px;
    border: 1px solid #018dc4;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font: normal 18px/normal Verdana, Geneva, sans-serif;
    color: rgba(183, 182, 179, 0.9);
    position: relative;
    top: 10px;
    left: 150px;
    background-image: url("../estrella.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 18%;
}

.formulario textarea {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 100px;
    width: 300px;
    margin: 10px;
    padding: 10px 20px;
    border: 1px solid #018dc4;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font: normal 18px/normal Verdana, Geneva, sans-serif;
    color: rgba(183, 182, 179, 0.9);
    position: relative;
    top: 10px;
    left: 150px;
    background-image: url("../estrella.png");
    background-repeat: no-repeat;
    background-position: right;
}



#enviar,
#reset {

    width: 160px;
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    margin: 10px;
    padding: 10px 20px;
    border: 1px solid #018dc4;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font: normal 18px/normal Verdana, Geneva, sans-serif;
    color: rgba(183, 182, 179, 0.9);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #dd4e2a;
    -webkit-box-shadow: 5px 5px 8px 2px rgba(0, 0, 0, 0.4), 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 8px 2px rgba(0, 0, 0, 0.4), 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
    text-shadow: 0 0 1px rgba(255, 86, 86, 0.9), -1px -1px 0 rgba(15, 73, 168, 0.66);
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    position: relative;
    top: 10px;
    left: 265px;
}

#web {
    left: 140px;
}

#email {
    left: 180px;
}

#nombre {
    left: 155px;
}

.mensaje_email {
    background: blue;
    color: white;
    position: relative;
    border-radius: 10px;
    width: 300px;
    padding: 10px;
	position: fixed;
	top: 180px;
	left: 900px;
    font: normal 11px/normal Verdana, Geneva, sans-serif;
}

.mensaje_web {
    background: blue;
    color: white;
    position: relative;
    border-radius: 10px;
    width: 300px;
    padding: 10px;
    position: fixed;
	top: 240px;
	left: 900px;
    font: normal 11px/normal Verdana, Geneva, sans-serif;
}