/* le indicamos que vamos a meter filas*/
.tabla {
    display: table;
    margin: 70px;
    float: left;
    /*border-spacing solo en tabla para que sea homogéneo*/
    border-spacing: 5px 20px;
    border: thin solid #4db8ff;
    border-collapse: collapse;
    /*si colapsacmos el border, border-spacing queda inutilizado*/
}

.fila {
    display: table-row;
    /*border: thin solid blue; no se puede directamente*/
}

.celda {
    border: thin solid #4db8ff;
    display: table-cell;
    width: 250px;
    height: 40px;
    background-color: #eeeeee;
    text-align: center;
    font-size: 20px;
    font-weight:normal; /* Evita que aparezca en negrita. */
    line-height: 50px;

}
h1 {
    /* Posición y dimensiones. */
    z-index: 1;
    top:0px;
    left:0px;
    position:fixed; /* Se queda fijo aunque se haga scroll. */
    width:100%;
    height:60px;
    margin:0px auto; /* No va a tener márgenes. */
    padding:5px;
    padding-top:14px;
    -webkit-box-sizing:border-box; /* Para ajustar el contenido respecto al padre. Explorer */
    -moz-box-sizing:border-box; /* Lo anterior para Firefox. */
    box-sizing:border-box;
    box-shadow:0px 1px 4px rgba(0, 0, 0, 0.25); /* Pone una sombra. Combina color con opacidad */
    /* Aspecto visual y contenido. */
    background-color:#4db8ff;
    color:#FFFFFF;
    text-align:center;
    font-size:36px;
    font-weight:normal; /* Evita que aparezca en negrita. */
}
.imagen {
    margin: 70px;
    width: 450px;
    height: 300px;
    float: right;
    border-radius: 10px;
    padding: 10px;
    background-color: grey;


}
