@charset "utf-8";
html,body{
	width:100%;
	height:100%;
}

*{
	padding:0px;
	margin:0px;
}
.contenedor{
	width: 800px;
	height: 800px;
	margin: 0px auto;
}

form{
	background-color: #ccc;
	margin: 20px auto;

}

.area{
	width: 600px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background-color: red;
	color:white;
}

textarea{
	
	border: 2px solid red;
}

label{
	margin-left: 30px;
	margin-right: 30px;
}

h1{
	font-size: 15px;
	margin-top: 10px;
	margin-left: 30px;
}
input[type="text"]{
	margin-top:10px;
	padding-left: 30px;
	width: 380px;
    height: 40px;
}

select{
	margin-top: 5px;
	margin-left: 30px;
	width: 300px;
	height: 30px;
}

button[type="submit"]{
	margin-top:10px;
	margin-left: 310px;
	width:120px;
	height:30px;
}