#txt{
    font-family:sans-serif;
    font-size: 23px;
    color:green;
    background-color: black;
    width: 200px;
    text-align: center;
    margin: 0 auto;
    border-width: 10px;
    border-color: green;
    border-radius: 25px;
    -moz-border-radius:25px;
} 