body,html {
    width: 100%;
    height: 100%;
    background-image: url(../img/fondo.jpg);
    background-size: 100%;
}

.container {
    width: 89%;
    margin: 0px auto;
}
.menu{
    text-align: center;
    width: 900px;
    margin: 0px auto;/*Con esto centramos el elemento, siempre contando que el elemento tenga un width*/

}
.menu li {

    font-size: 15px;
    list-style: none;
    float: right;
    margin: 0px auto;/*Con esto centramos el elemento, siempre contando que el elemento tenga un width*/
    width: 140px;
    color: white;
    opacity: 0.7;
    text-align: center;
    height: 40px;


}

.menu a {
    display: block;/*Con este conseguimos que sea de ancho como el padre*/
    text-decoration: none;
    text-align: center;
    height: 30px;
    /*Truco para alineación vertical para lineas*/
    line-height: 30px;
    background-color: grey;
    color: white;
    opacity: 0.7;
}

.body {
    clear: both;
    width: 900px;
    height: 600px;
    margin: 0px auto;
    background: transparent;
}
.body img{
    width: 900px;
    height: 600px;
}

.rotation{
    width: 900px;
    height: 120px;
    margin: 0px auto;
}
.small1, .small2, .small3, .small4 {
    margin-top: 50px;
    float: left;
}
.left {
    margin-left: 60px;
}
.small1 img{
    width: 180px;
    height: 120px;
}

.small2 img{
    width: 180px;
    height: 120px;
}
.small3 img{
    width: 180px;
    height: 120px;
}
.small4 img{
    width: 180px;
    height: 120px;
}
.footer {
    width: 900px;
    height: 55px;
    margin: 30px auto;
    text-transform: uppercase;
}

.footer li {

    font-size: 15px;
    list-style: none;
    float: left;
    margin: 0px auto;/*Con esto centramos el elemento, siempre contando que el elemento tenga un width*/
    color: white;
    opacity: 0.7;
    text-align: center;
    height: 40px;
}
.cent{
    width: 10px;

}
.ext{
    width: 400px;

}
.izq {
    text-align: left;
}
.der {
    text-align: right;
}

.footer a {
    display: block;/*Con este conseguimos que sea de ancho como el padre*/
    text-decoration: none;
    text-align: center;
    height: 30px;
    /*Truco para alineación vertical para lineas*/
    line-height: 30px;
    background-color: grey;
    color: white;
    opacity: 0.7;
}

.footer a:hover {
    text-decoration: underline;
}
.footer img{
    width: 25px;
    vertical-align: center;
}