.tabla {
	display: table; 
	margin: 10px auto;
	/*border-spacing solo en tabla para que sea homogéneo*/
	border-spacing: 5px 20px;
	border: thin solid red;
	border-collapse: collapse;
	/*si colapsacmos el border, border-spacing queda inutilizado*/
}

.fila {
	display: table-row;
	/*border: thin solid blue; no se puede directamente*/
}

.celda {
	border: thin solid blue;
	display: table-cell;
	width: 200px;
	height: 50px;
	background-color: blue;

}