#formulario {
    width: 1000px;
    margin: 20px auto;
}

.form {
    background-color: #CCCCCC;
    border: thin solid #000000;
    border-radius: 10px;
    padding: 20px;
    width: 95%;
    margin: 10px auto;
}

.mensaje_error {
    background-color: red;
    color: white;
    font-size: 20px;
    text-align: center;
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;

}

.form input, .form select {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 10px 20px;
    border: 1px solid #b7b7b7;
    -webkit-border-radius: 3px;
    margin: 20px;
    border-radius: 3px;
    font: normal 18px/normal "Times New Roman", Times, serif;
    color: rgba(0, 142, 198, 1);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: rgba(252, 252, 252, 1);
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2) inset;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2) inset;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.66);
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.form label, .form p, .form legend, .form caption {
	-webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  amrgin-top: 10px;
  font: normal 20px/1 "Times New Roman", Times, serif;
  color: black;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-shadow: 4px 4px 6px rgba(0,0,0,0.5) ;
}

.one, .two, .three {
	float: left;
}

.four {
	clear: both;
}