.wrapper {
        margin: 50px auto;
        width: 90%;
        height: 750px;
    }

    body {
        background-image: url(hoja_de_cuaderno.jpg);
        width: 900px;
        color: #ff99cc;
        font-family: Tahoma, Geneva, Verdana, sans-serif;
        ;
        height: 800px;
    }

    h1 {
        text-align: center;
        font-size: 50px;
        line-height: 50px;
    }

    h2 {
        text-align: left;
        font-size: 35px;
        line-height: 10px;
    }

    h3 {
        text-align: right;
        text-transform: uppercase;
        font-size: 35px;
    }

    form {
        padding-left: 30px;
        margin: 10px auto;
        width: 900px;
        height: 650px;
    }

    .izquierda input[type="text"] {
        width: 50px;
        display: block;
        margin-bottom: 10px;
    }

    input[type="button"] {
        width: 150px;
        display: block;
        margin-top: 500px;
    }

    .izquierda {
        float: left;
        width: 45%;
        height: 400px;
        position: relative;
    }

    .derecha input[type="text"] {
        width: 60px;
        margin: 20px 40px 0 20px;
    }

    .derecha {
        float: left;
        width: 50%;
        height: 600px;
        position: relative;
        margin-top: 90px;
        background: rgba(255, 124, 216, 1);
        background: -moz-linear-gradient(left, rgba(255, 124, 216, 1) 0%, rgba(253, 137, 215, 1) 5%, rgba(250, 245, 249, 1) 46%, rgba(250, 245, 249, 1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 124, 216, 1)), color-stop(5%, rgba(253, 137, 215, 1)), color-stop(46%, rgba(250, 245, 249, 1)), color-stop(100%, rgba(250, 245, 249, 1)));
        background: -webkit-linear-gradient(left, rgba(255, 124, 216, 1) 0%, rgba(253, 137, 215, 1) 5%, rgba(250, 245, 249, 1) 46%, rgba(250, 245, 249, 1) 100%);
        background: -o-linear-gradient(left, rgba(255, 124, 216, 1) 0%, rgba(253, 137, 215, 1) 5%, rgba(250, 245, 249, 1) 46%, rgba(250, 245, 249, 1) 100%);
        background: -ms-linear-gradient(left, rgba(255, 124, 216, 1) 0%, rgba(253, 137, 215, 1) 5%, rgba(250, 245, 249, 1) 46%, rgba(250, 245, 249, 1) 100%);
        background: linear-gradient(to right, rgba(255, 124, 216, 1) 0%, rgba(253, 137, 215, 1) 5%, rgba(250, 245, 249, 1) 46%, rgba(250, 245, 249, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7cd8', endColorstr='#faf5f9', GradientType=1);
    }

    .derecha label {
        letter-spacing: 10px;
        margin-left: 20px;
    }