.horizontal {
	display: inline-block;
}
.vertical {
	display: block;
}
.horizontal>a,
.vertical>a {
	min-width: 150px;
	min-height: 50px;
	line-height: 50px;
	display: inline-block;
	text-align: center;
	margin: 10px;
}